* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #ededed;
  padding-bottom: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 1.6rem;
  color: #333;
}

#box-shadow-generator {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#controls-container,
#preview {
  flex: 1;
  padding: 2rem;
  margin: 1rem 1.5rem;
}

.form-control {
  display: flex;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px dashed #ccc;
  justify-content: space-between;
  align-items: center;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #555;
}

.range-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.range-input input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background-color: #d3d3d3;
  outline: noneF;
}

.range-input input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #333;
}

.reference-input {
  display: flex;
  align-items: center;
}

.reference-input p {
  margin-left: 4px;
}

.reference-input input {
  height: 30px;
  width: 30px;
  margin-left: 1rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid #333;
}

.reference-input input::-webkit-outer-spin-button,
.reference-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* New features */

#shadow-color-reference,
#box-color-reference {
  min-width: 100px;
}

.shadow-color-input,
.box-color-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shadow-color-input label,
.box-color-input label {
  margin-bottom: 0;
}

.shadow-color-input input,
.box-color-input input {
  cursor: pointer;
  height: 30px;
}

#opacity-reference {
  min-width: 50px;
}

.inset-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inset-input label {
  margin-right: 1rem;
  margin-bottom: 0;
}

#inset {
  align-self: flex-start;
  height: 20px;
  width: 20px;
}

/* Preview */

#box {
  width: 100%;
  height: 300px;
  background-color: #fff;
  margin-top: 11rem;
}

/* Rules */

#generated-rule {
  text-align: center;
}

#generated-rule p {
  margin: 1rem;
}

#rules-area {
  background-color: #d3d3d3;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px dashed #555;
  padding: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

#rules-area:hover {
  background-color: #dfdfdf;
}

#copy-instructions {
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
  color: #555;
}

/* Responsive */

@media (max-width: 425px) {
  #box-shadow-generator {
    flex-direction: column;
  }

  #controls-container,
  #preview {
    padding: 1rem 2rem;
  }

  #box {
    width: 60%;
    height: 200px;
    margin: 0 auto;
  }

  #generated-rule {
    margin-top: 2rem;
  }
}
