* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  background-color: #c2ccff;
}

.title {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  background-color: #7685d2;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.image-container {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #7685d2;
}

.image-container img {
  display: block;
  margin: 2rem auto 1rem;
  object-fit: cover;
  width: 750px;
  height: 650px;
}

.image-container p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
