body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: purple
}

/* comment */

/* class & id */

.paragraph {
    background-color: #000000;
    padding: 5px;
    color: aqua
}

#title {
    font-size: larger;
    color: chocolate;
    border: 3px solid blueviolet
}

/* ordem */

h2 {
    border-bottom: 2px solid red
}

.title-class {
    border-bottom: 3px solid blue
}

#title-id {
    border-bottom: 4px solid green
}

/* color name */

.color-name {
    color: darkorchid;
}

/* hexadecimal */

.hexadecimal {
    color: #4682B4;
    /* #123 é a mesma coisa que #112233 */
}

/* rgb & rgba */

.rgb {
    color: rgb(255, 255, 77);
}

.rgba {
    color: rgb(255, 38, 38, 0.7)
}

/* hsl */

.hsl {
    color: hsl(100, 50%, 50%)
}

/* background color */

.bg-color {
    background-color: #FF0;
    color: #000
}

/* opacity */

.bg-opacity {
    background-color: #0F0F0F;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: 0.5;
}

.bg-opacity-2 p {
    color:#000;
}

/* opacity with rgba */

.rgba-opacity {
    background-color: rgba(0, 0, 255, 0.2);
}

/* background image */

.bg-image {
    color: #FFF;
    padding: 10px;
    background-image: url("../img/ottawa.png");
}

/* centralized background image */

.not-centered-bg,
.centered-bg {
    height: 400px;
    width:400px;
    background-image: url("../img/toronto.jpg");
    margin-bottom: 20px;
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* height and width */

.height-width {
    height: 200px;
    width: 100px;
    background-color: #F00;
}

.height-width-2 {
    height: 100px;
    background-color: #0F0F0F;
}

/* padding */

.without-padding,
.with-padding {
    background-color: #000;
    color: #FFF;     
}

.with-padding {
    padding: 20px;
}

/* individual padding */

.individual-padding {
    background-color: #333;
    color: #FFF;
    padding-left: 50px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
}

/* shorthand padding */

.shorthand-padding {
    background-color: #444;
    color: #FFF;
    padding: 40px 50px 20px 10px;
}

.shorthand-padding-2 {
    background-color: #555;
    color: #FFF;
    padding: 20px 10px;
}

/* border-box */

.without-border-box {
    background-color: #666;
    color: #FFF;
    width: 400px;
    padding: 50px;
}

.with-border-box {
    background-color: #777;
    color: #FFF;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* border */

.border {
    border: 5px solid #F00;
    padding: 10px;
}

.border-2 {
    border: 3px dotted #00F;
    padding: 10px;
}

/* individual border */

.border-left {
    color: #000;
    background-color: rgb(137, 255, 137);
    border-left: 7px solid #0F0;
    padding: 20px
}

.border-bottom {
    color: #000;
    border-bottom: 5px double  #0FF;
    padding: 10px;
}

/* border radius */

.rounded-border {
    border: 3px solid #FF0;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 202);
}

.rounded-border-2 {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 202);
}

/* margin */

.margin {
    background-color: #999;
    margin: 10px;
}

.margin-top {
    background-color: #AAA;
    margin-top: 50px;
}

.margin-shorthand {
    background-color: #BBB;
    margin: 40px 20px 5px 10px;
}

/* box-model */

.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #7112ff;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* desafio CSS 2 */

#box-model-challenge {
    margin: 30px 20px;
    border: 3px solid #eacafc;
    outline: 3px solid #a200ff;
    padding: 15px;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
}

.text-challenge {
    color: #9000ff;
    background-color: #f6e1ff;
    border: none;
}