body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: purple
}

/* comment */

/* class & id */

.paragraph {
    background-color: #000000;
    padding: 5px;
    color: aqua
}

#title {
    font-size: larger;
    color: chocolate;
    border: 3px solid blueviolet
}

/* ordem */

h2 {
    border-bottom: 2px solid red
}

.title-class {
    border-bottom: 3px solid blue
}

#title-id {
    border-bottom: 4px solid green
}

/* color name */

.color-name {
    color: darkorchid;
}

/* hexadecimal */

.hexadecimal {
    color: #4682B4;
    /* #123 é a mesma coisa que #112233 */
}

/* rgb & rgba */

.rgb {
    color: rgb(255, 255, 77);
}

.rgba {
    color: rgb(255, 38, 38, 0.7)
}

/* hsl */

.hsl {
    color: hsl(100, 50%, 50%)
}

/* background color */

.bg-color {
    background-color: #FF0;
    color: #000
}

/* opacity */

.bg-opacity {
    background-color: #0F0F0F;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: 0.5;
}

.bg-opacity-2 p {
    color:#000;
}

/* opacity with rgba */

.rgba-opacity {
    background-color: rgba(0, 0, 255, 0.2);
}

/* background image */

.bg-image {
    color: #FFF;
    padding: 10px;
    background-image: url("../img/ottawa.png");
}

/* centralized background image */

.not-centered-bg,
.centered-bg {
    height: 400px;
    width:400px;
    background-image: url("../img/toronto.jpg");
    margin-bottom: 20px;
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* height and width */

.height-width {
    height: 200px;
    width: 100px;
    background-color: #F00;
}

.height-width-2 {
    height: 100px;
    background-color: #0F0F0F;
}