body {
    padding-bottom: 500px;
}

/*  flex */

.flex {
    display: flex;
    background-color: #CCC;
    margin-bottom: 20px;
}

/* flex direction */

.flex-column {
    background-color: #DDD;
    display: flex;
    flex-direction: column;
}