body {
    padding-bottom: 500px;
}

/*  flex */

.flex {
    display: flex;
    background-color: #CCC;
    margin-bottom: 20px;
}

/* flex direction */

.flex-column {
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* wrap */

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
    margin: 2px
}