body {
    padding-bottom: 500px;
}

/*  flex */

.flex {
    display: flex;
    background-color: #CCC;
    margin-bottom: 20px;
}

/* flex direction */

.flex-column {
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* wrap */

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
    margin: 2px
}

/* justify content */

.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
    width: 50px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}