* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: #021111;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #2c5cfb, #44a6fb);
}

button {
  background-color: #fdfdfd;
  color: #021111;
  border: 1px solid #021111;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #2c5cfb;
}

button i {
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

.todo-container {
  width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}
