html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9284e1;
}

.logo-container {
    position: sticky;
    top: 50px;
    right: 50px;
    z-index: 2;
}

.logo-container img {
    width: 300px;
    opacity: 0.7;
}

.container {
    max-width: 1600px;
    background-color: #FFF;
    position: relative;
    margin: 50px auto;
    padding: 20px 70px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* header */

.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
}

/* main image */

.featured-image {
    text-align: center;
    margin-top: 30px;
}

.featured-image figure img {
    width: 900px;
}

/* biography */

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

.biography-container p {
    font-size: 16px;
}

/* quotes */

.quotes-container {
    background-color: #9284e1;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 28px;
}

.quotes-container p {
    font-style: italic;
}

/* curiosities */

.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

.curiosities-container li {
    margin: 30px 0;
}

/* video */

.video-container {
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

.video-container iframe {
    width: 890px;
    height: 500px;
}

/* more info */

.moreinfo-container p a {
    text-decoration: none;
    color: #9500ff;
}